* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    transition: .3s;
}

a:hover {
    text-decoration: underline;
    color: rgb(51, 51, 160);
}

.nav {
    background-color: #d5eff7;
}

.my-image {
    border-radius: 100px;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
}

.link {
    text-decoration: none;
    color: black;
}

footer {
    padding-top: 10px;
    background-color: #d5eff7;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.section {
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #d5eff7;
}